@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" ">
    <h1 class="display-4">Velkommen til Big Mamma</h1>

    <h2>Bestilling på 40172859</h2>

    <p>Find os på Adresse 10, 1234 By</p>
   @* <img src="/img/Logo-med-hvid-baggrund.png" />  *@
    
    <a class="btn btn-success" href="/MenuKort">Se Menu</a>

   
</div>
