@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" ">
    <h1 class="display-4">Velkommen til Big Mamma</h1>

    <h2>Bestilling på 40172859</h2>

    <p>Find os på Frederiksværksgade 4, 3400 Hillerød</p>
   @* <img src="/img/Logo-med-hvid-baggrund.png" />  *@
    
    <a class="btn btn-success" href="/MenuKort">Se Menu</a>
    <div class="m-5">
        <img src="/img/Map.png" />
    </div>
    
</div>
